# Should we start varnishd at boot?  Set to "no" to disable.
START=yes

# Maximum number of open files (for ulimit -n)
NFILES=131072

# Maximum locked memory size (for ulimit -l)
# Used for locking the shared memory log in memory.  If you increase log size,
# you need to increase this number as well
MEMLOCK=82000

# Default varnish instance name is the local nodename.  Can be overridden with
# the -n switch, to have more instances on a single server.
# INSTANCE=$(uname -n)

DAEMON_OPTS="-a {{ elao_varnish_address|default("") }}:{{ elao_varnish_port|default(80) }} \
             -T localhost:6082 \
             -f {{ elao_varnish_vcl|default("/etc/varnish/default.vcl") }} \
             -S /etc/varnish/secret \
             -s malloc,256m"